.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.counter button {
  background: orange;
  border: 0;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  outline: 0;
}
ul li {
  list-style-type: none;
}
.counter h1 {
  background: green;
  padding: 10px;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
